---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Página de inicio";
---
<BaseLayout pageTitle={pageTitle} pageOrigin="index">
  <h2>Bienvenidos a este maravilloso artículo!!</h2>

  <h3>¿Qué encontrarás aquí?</h3>
  <p>En este espacio, compartiré mi viaje de aprendizaje y exploración en el fascinante mundo del framework "Astro". Como programador entusiasta, me sumergí en las profundidades de esta herramienta y quiero compartir mis experiencias, descubrimientos y reflexiones contigo.

    Desde mi punto de vista como desarrollador, exploraré las funcionalidades, características y potenciales usos de "Astro". Descubrirás análisis detallados, tutoriales prácticos y reflexiones personales sobre cómo este framework puede revolucionar nuestra forma de construir aplicaciones web.
    
    Este blog está especialmente dirigido a programadores que desean adentrarse en "Astro", así como a aquellos que desean profundizar en sus conocimientos y compartir experiencias. No importa si eres un novato curioso o un veterano en busca de nuevas perspectivas, ¡aquí encontrarás algo para ti!
    
    ¡Acompáñame en este emocionante viaje mientras exploramos juntos las posibilidades infinitas que ofrece "Astro" en el desarrollo web moderno!</p>

  <h3>¿Qué es Astro?</h3>
  <p>Astro es un framework de construcción de sitios web moderno y rápido que combina las mejores características de los frameworks estáticos y de servidor. Ofrece una experiencia de desarrollo rápida y eficiente, así como un rendimiento excepcional para los usuarios finales. Astro es una herramienta poderosa y versátil que permite a los desarrolladores crear aplicaciones web de alto rendimiento y fácil mantenimiento.</p>

  <h3>¿Por qué Astro?</h3>
  <p>Astro es una herramienta revolucionaria que ofrece una forma más eficiente y sostenible de construir aplicaciones web modernas. Al combinar las mejores características de los frameworks estáticos y de servidor, Astro permite a los desarrolladores crear aplicaciones web rápidas y eficientes sin comprometer la productividad o el rendimiento. Con Astro, los desarrolladores pueden crear aplicaciones web de alto rendimiento y fácil mantenimiento, lo que les permite centrarse en la creación de experiencias de usuario excepcionales.</p>

  <h3>Últimas publicaciones</h3>
  <!-- <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /> -->
</BaseLayout>