---
const { url, title, image } = Astro.props
---
<article>
  <li><a href={url}>{title}</a></li>
  <img src={image?.url} width="300" alt={image?.alt}>
</article>

<style>
  article {
    margin-bottom: 1em;
  }
  img {
    display: block;
    margin-top: 1.5em;
  }
  li {
    margin-bottom: 0.5em;
  }
  a {
    font-size: 1.25em;
  }
</style>